@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --pink: #ff4081;
}
body{
    font-family: "lato", sans-serif;
    margin: 0;
    background-color: #232e33;
}

#navbar{
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
}

li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}

li a::after{
    content:'';
    position:absolute;
    display:block;
    height:0.4em;
    width:0%;
    background-color:var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}

li a:hover::after{
    width:60%

}

li a:hover{
    color:var(--pink);
}

li:first-child{
    margin-right: auto;
    margin-left: 3em;
}
